<div class="content-section-a oldsite">

  <!-- Header -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h1>Contributors</h1>
        <p class="lead">We are indebted to Mark Nelson and Dana Johnson without whom the Alpheios Project would not exist.</p>

        <p class="lead">Our efforts have been inspired by the pioneering work of <a href="http://www.perseus.tufts.edu/hopper/about/who/gregoryCrane">Gregory Crane</a> at the Perseus Project.</p>

        <p class="lead">The <a href="http://digitallatin.org/">Digital Latin Library</a> has supported the revial of the Alpheios Project.</p>

        <p>Some of our major individual contributors to date include:</p>

        <ul>
          <li>Bridget Almas</li>
          <li>Frederik Baumgardt</li>
          <li>Patrick Berkvens</li>
          <li>Marie-Claire Beaulieu</li>
          <li>Hugh Cayless</li>
          <li>Lisa Cerrato</li>
          <li>Thibault Clérice</li>
          <li>Elijah Cooke</li>
          <li>James Coulter</li>
          <li>Stella Dee</li>
          <li>Harry Diakoff</li>
          <li>Tom Elliott</li>
          <li>Anise Ferreira</li>
          <li>Maryam Foradi</li>
          <li>Usama Gad</li>
          <li>Michael Gleason</li>
          <li>Bob Gorman</li>
          <li>Vanessa Gorman</li>
          <li>Michael Gursky</li>
          <li>Zachary Himes</li>
          <li>Thomas Koentges</li>
          <li>Kirill Latyshev</li>
          <li>Punit Matta</li>
          <li>Saeed Majidi</li>
          <li>Hamid Reza Mohammadi</li>
          <li>Abigail Palmer</li>
          <li>Saman Rezaie</li>
          <li>Jonathan Robie</li>
          <li>Logan Thomison</li>
          <li>Monica Zugan</li>
          <li>Naveed Ul-Islam</li>
          <li>Yusuf Čelik</li>
          <li>All of the contributors to the <a href="http://perseusdl.github.io/treebank_data/">Ancient Greek and Latin Treebanks</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
