
<div class="content-section-a oldsite">

  <!-- Header -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h1 class="title">Installation</h1>
        <script type="text/javascript">
            function installBundle(a_xpis)
            {
                if (navigator.userAgent.indexOf("Firefox") == -1)
                {
            	    alert("Firefox is required to install these browser extensions.");
                    return;
                }
                var xpiObj = {};
                for (var i=0; i<a_xpis.length; i++)
                {
        	    var xpi = a_xpis[i].split(/:/);
                    var name = xpi[0];
                    var url;
                    var file;
                    if (xpi[1]) {
                       url = "http://addons.mozilla.org/en-US/firefox/downloads/latest/" + xpi[1] + "/";
                       file = "addon-" + xpi[1] + "-latest.xpi";

                    } else {

                       url = "http://alpheios.net/xpi-install/";
                       file = "alpheios-" + xpi[0] + "-latest.xpi";
                    }
                    xpiObj[name] = url + file;
                }
                InstallTrigger.install(xpiObj,function(){});
            }
        </script>
        <div class="alert alert-info">The Alpheios Version 1 tools are deprecated. You must be using <a href="https://support.mozilla.org/en-US/kb/install-older-version-of-firefox">Firefox Version 45 or earlier</a> to install them.</div>
        <div>
          <p class="lead">Please install the tools from their official home on the <a href="https://addons.mozilla.org/en-US/firefox/collection/alpheios" target="_blank">Firefox Add-Ons Site</a>.
          </p>
          <h4>Installation from Firefox Add-Ons Site:</h4>
          <ol class="alpheios-ordered-list lead">
             <li>Click the link to go to the <a href="https://addons.mozilla.org/en-US/firefox/collection/alpheios" target="_blank">Firefox Add-Ons Site</a></li>
             <li>Once on the site, click the green "Add to Firefox" buttons to install the Alpheios Greek Tools and Alpheios Latin Tools.</li>
              <li style="font-weight:bold;">You must install the <a href="https://addons.mozilla.org/en-US/firefox/addon/15085">Alpheios Basic Libraries</a> as well as <span style="font-style:italic;">at least one of</span> the Alpheios Language Tool Extensions (<a href="https://addons.mozilla.org/en-US/firefox/addon/15087">Latin</a> and/or <a href="https://addons.mozilla.org/en-US/firefox/addon/15086">Greek</a> and/or <a href="https://addons.mozilla.org/en-US/firefox/addon/alpheios-arabic-tools">Arabic</a> ).</li>
                <div><img src="http://alpheios.net/sites/default/files/amosite.PNG" alt="Firefox Install Dialog"/></div></li>
              </li>
              <li>Wait for the Firefox Software Installation dialog to appear (this may take a few seconds):
                <div><img src="http://alpheios.net/sites/default/files/amoinstallbasic.PNG" alt="Firefox Install Dialog"/></div>
                <div><img src="http://alpheios.net/sites/default/files/amoinstallgreek.PNG" alt="Firefox Install Dialog"/></div>
                <div><img src="http://alpheios.net/sites/default/files/amoinstalllatin.PNG" alt="Firefox Install Dialog"/></div></li>
              <li>Click "Install Now" to install the extensions.</li>
              <li>Restart Firefox</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
