<div class="content-section-a oldsite">

  <!-- Header -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h3>Overview:</h3>
        <p class="lead">The Alpheios Version 1 Tools are Firefox extensions that add functionality to the browser for reading and learning languages. The original
          release included installable extension packages for Ancient Greek, Latin and Arabic, as well as the "Alpheios Basic Libraries" package, which is required,
          and which contains functionality that is common across languages. The release also includes
          <a target="_blank" href="http://alpheios.net/content/alpheios-texts">Enhanced Texts</a> which have been specially prepared to
          support additional functionality in the Alpheios tools.</p>
        <p class="lead">Demonstrations of the Alpheios tools are provided in the <a target="_blank" href="http://alpheios.net/content/tutorials">Tutorials</a>. Documentation for all features is provided in the <a target="_blank" href="http://alpheios.net/content/user-guide">User Guide</a>.</p>
        <h3>System Requirements:</h3>
        <ul class="lead">
        <li><a href="http://firefox.com">Firefox 45 (This version of the tools does not work well with the later Firefox releases.)</a>
        </li>
        <li>Windows XP-7, Linux, or Mac OS X</li>
        </ul>
      </div>
    </div>
  </div>
</div>
