<%= partial(:nav) =%>
<div class="intro-header">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Alpheios API Terms of Service</h2>
        </div>
    </div>
  </div>
</div>
<a name="alpheios-environment"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Effective: October 15, 2018</p>
        <p class="lead">
          These Alpheios API Terms of Service (the "API Terms") describe your rights and responsibilities when accessing our
          publicly available application programming interfaces (the "APIs") and related API documentation.
        </p>
        <p class="lead">
          By accessing or using our APIs, you are agreeing to the terms below. If there is a conflict between these terms and
          additional terms applicable to a given API, the additional terms will control for that conflict.
          Collectively, we refer to the terms below, any additional terms, terms within the accompanying API documentation,
          and any applicable policies and guidelines as the "Terms."
        </p>
        <p class="lead">
          You agree to comply with the Terms and that the Terms control your relationship with us.
          "We," "our" and "us" refers to the Alpheios Project, Ltd. "You" refers to anyone who makes use of our APIs and Services,
          whether directly, via the Alpheios Embedded Library, or any other programmatic means.
        </p>
        <p class="lead">
          You may not use the APIs and may not accept the Terms if (a) you are not of legal age to form a binding contract,
          or (b) you are a person barred from using or receiving the APIs under the applicable laws of the United States
          or other countries including the country in which you are resident or from which you use the APIs.
        </p>
        <p class="lead">
          You may not access our APIs or documentation in violation of any law or regulation;
          (including without limitation laws regarding the import or export of data or software, privacy, and local laws).
        </p>
        <p class="lead">
          Alpheios reserves the right to set, change and enforce limits on your use of the APIs (e.g. limiting the number of API requests that
          you may make), in our sole discretion.
        </p>
        <p class="lead">
          You may not access our APIs in any manner that (i) compromises, breaks or circumvents any of our technical processes or
          security measures associated with the Services, (ii) poses a security vulnerability to customers or users of the Services,
          or (iii) tests the vulnerability of our systems or networks, in a mangger that exceeds rate limits, or constitutes excessive or abusive usage.
        </p>
        <p class="lead">
          You will require your end users to comply with (and not knowingly enable them to violate) applicable law, regulation, and the Terms.
        </p>
        <p class="lead">
          You will only access (or attempt to access) an API by the means described in the documentation of that API. If at some point
          in the future Alpheios assigns you developer credentials (e.g. client IDs), you must use them with the applicable APIs.
          You will not misrepresent or mask either your identity or your API Client's identity when using the APIs or developer accounts.
        </p>
        <p class="lead">
          You agree that Alpheios may monitor use of these APIs to ensure quality, improve Alpheios products and services and verify your compliance
          with the terms. Alpheios reserves the right to block your access to these APIs at any time in the future if we reasonably believe
          the terms are violated.
        </p>
        <p class="lead">
          You agree that Alpheios may monitor use of these APIs to ensure quality, improve Alpheios products and services and verify your compliance
        </p>
        <p class="lead">
          EXCEPT AS EXPRESSLY PROVIDED FOR HEREIN, THE APIS, DOCUMENTATION AND ALL RELATED COMPONENTS AND INFORMATION ARE PROVIDED BY US ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY WARRANTIES OF ANY KIND, AND WE EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. YOU ACKNOWLEDGE THAT WE DO NOT WARRANT THAT THE APIS WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE.
        </p>
        <p class="lead">
          As our development evolves, we may make changes to our APIs, including backwards incompatible changes. We will try to give notice of
          these changes, but you should consider following the @Alpheios Twitter account or viewing our changelogs for updates.
          Also, parts of our API are undocumented, including certain methods, events, and properties.
          Given that these undocumented aspects of our APIs may change at any time, you should not rely on their behaviors.
       </p>
       <p class="lead">
         As our business evolves, we may change these API Terms. We will notify you of any changes by posting the new Terms on this page
         and updating the "effective date" at the top of this page. You can review the most current version of the API Terms at any time
         by visiting this page and by visiting the most current versions of the other pages that are referenced herein the Contract. If you
         access our APIs after the effective date, that access will constitute your acceptance of any revised terms and conditions.
       </p>
      </div>
    </div>
  </div>
</div>
