<div class="intro-header">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>User Feedback</h2>
        </div>
    </div>
  </div>
</div>
<div class="content-section-a">

  <!-- Header -->
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h3 class="section-heading">User Quotes</h2>
         <ul class="lead">
           <li>Great tool, I appreciate it very much. gratias tibi ago!</li>
           <li>A great tool. I love it. Very nicely put together and easy to use...</li>
           <li>Very nice tool. Really helpful for reading and studying</li>
           <li>I really have a good impression of the addon, it is a great tool</li>
           <li>Great, more aligned translation!</li>
           <li>This is very helpful and time-saving for doing Latin homework. It saves me from looking in my dictionary constantly!</li>
           <li>excellent morphological tool, reliable and speedy</li>
           <li>I am writing about Oedipus at Colonus, and the program makes navigating in the text enjoyable</li>
           <li>Excellent learning tool for students. Pronunciation leaves something to be desired. The diagram feature is quite good.</li>
           <li>Excellent product! Just the other day I was trying to figure out how to put together just this kind of tool for my Greek and latin students. Thank you!</li>
           <li>BRILLIANT. I really think this is a brilliant resource - my perspective is as a teacher of Classics at High School in the UK. - A more up to date grammar would be great, but the out-of-print-job does the job. I'm tempted to write my own for you, I'm so inspired!!!</li>
           <li>This got my attention! VERY good concept. I love this! More content, that's all that's needed</li>
           <li>φέριστοι φίλοι άνδρες, υγειαίνετε. Firstly, may I congratulate you for this wonderful software and for making it available for free</li>
           <li>Wonderful.</li>
           <li>Nice work!</li>
         </ul>
      </div>
   </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <ul class="list-inline banner-social-buttons">
            <li>
                <a href="https://twitter.com/Alpheios" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
            <li>
                <a href="https://github.com/alpheios-project" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
            <li>
                <a href="http://www.facebook.com/pages/The-Alpheios-Project/166255933415847" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
            </li>
            <li>
                <a href="mailto:support@alpheios.net" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
            </li>
        </ul>
    </div>
  </div>
</div>
