<div class="intro-header">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Community Engagement</h2>
        </div>
    </div>
  </div>
</div>
<div class="content-section-a">

  <!-- Header -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p class="lead">The Alpheios team is committed to engage with and support the wider Digital Humanities and Research Data communities.
          We actively seek out opportunities for collaboration knowledge sharing. Recent and upcoming presentations for this community are listed below.
          <ul class="lead">
            <li>Bridget Almas. <a href="https://github.com/alpheios-project/presentations/raw/master/20180806TuftsUniversity/Enhancing%20Digital%20PublicationsWithAlpheios.pptx">Enhancing Digital Publications With Alpheios</a>. 6 August 2018. Ancient Greek and Roman Painting Conference. Tufts University. Boston.</li>
            </li>
            <li>Bridget Almas. <a href="http://events.depaul.edu/event/studiochijuly17#.WzOiBXXwbCI">Adventures in Software Development and Data Sharing in the Digital Humanities.</a> DePaul University. Chicago. 17 July 2018.
            </li>
            <li>Bridget Almas. <a href="https://github.com/alpheios-project/presentations/raw/master/20180621Pelagios/RPID-CTS%20Handle%20Proposal.pptx">RPID: CTS URNs and Handles.</a> Presentation for the Pelagios Linked Texts Working Group. 21 June 2017.
            </li>
            <li>Bridget Almas. <a href="https://www.rd-alliance.org/webinar-engaging-rda-improve-data-management-and-sharing-practices-humanities">Engaging with RDA to improve data management and sharing practices in the Humanities</a>. Webinar. 27 November 2017.
            </li>
            <li>Bridget Almas. <a href="http://www.enc-sorbonne.fr/fr/actualite/bonnes-pratiques-defis-du-developpement-applicatif-humanites-numeriques-long-terme">"Un développement applicatif durable en humanités numériques"</a>. Ecole nationale des chartes. Paris. 26 Octobre 2017. <a href="https://youtu.be/bhlBwnN_Pf4">Video</a>.</li>
          </ul>
        </p>
      </div>
   </div>

</div>
