<div class="content-section-a">

  <!-- Header -->
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h2 class="section-heading">Community Engagement</h2>
        <p class="lead">The Alpheios team is committed to engage with and support the wider Digital Humanities and Research Data communities.
          We actively seek out opportunities for collaboration knowledge sharing. Recent and upcoming presentations for this community are listed below.
          <ul>
            <li>Bridget Almas. <a href="https://www.rd-alliance.org/webinar-engaging-rda-improve-data-management-and-sharing-practices-humanities">Engaging with RDA to improve data management and sharing practices in the Humanities</a>. Webinar. 27 November 2017.
            </li>
            <li>Bridget Almas. <a href="http://www.enc-sorbonne.fr/fr/actualite/bonnes-pratiques-defis-du-developpement-applicatif-humanites-numeriques-long-terme">"Un développement applicatif durable en humanités numériques"</a>. Ecole nationale des chartes. Paris. 26 Octobre 2017. <a href="https://youtu.be/bhlBwnN_Pf4">Video</a>.</li>
          </ul>
        </p>
      </div>
   </div>

</div>
