<div class="intro-header">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Getting Started with Alpheios</h2>
        </div>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h2>Reading Text On the Desktop</h2>
        <p class="lead">
          The Alpheios reading tools provide dictionary lookups, grammar links, morphological analysis and inflection tables. When used with annotated texts, they
          also provide access to word aligned translations and syntactic sentence diagrams. (Additional annotations will be supported in the future.)
        </p>
        <h3>On Any Website</h3>
        <p class="lead">
          The Alpheios tools can be used on the desktop with any Unicode-compliant website containing Latin, Ancient Greek, Classical Arabic or Classical Persian text.
          To use Alpheios in this way, with any text, add it as an extension to the Chrome or Firefox browser, running on Windows, MAC OSX or Linux.
        </p>
        <%= partial(:installblock) =%>
        <h3>On alpheios.net</h3>
        <p class="lead">
          On our website, texts which have been enhanced directly with the Alpheios tools are available for use in Chrome, Safari and Firefox on any operating system
          or platform. These texts do <b>not</b> require installation of the Alpheios browser extension to access the functionality, and if you have installed the extension
          it will not activate itself on these pages.
        </p>
        <p class="lead">
          The alpheios.net website also contains examples of annotated texts that have been aligned with translations using the Alpheios Alignment Editor and
          texts that have been diagramed using the Alpheios Treebank Editor. Many have found the use of these editors to be helpful when learning the language.
          Users are encouraged to contribute more annotated texts using either the Alpheios editors or other editors of their choice. In the coming months we will be
          establishing a workflow to make the process of contributing annotated text simple.
        </p>
        <h2>Reading Text On Mobile Devices</h2>
        <p class="lead">
          We are actively developing mobile friendly solutions for Alpheios.  We are currently experimenting with different ways to make the wide
          array of Alpheios tools and resources most useful in the mobile environment. Please <a href="mailto:support@alpheios.net">contact us</a>
          If you would like to participate in providing feedback on early releases of our mobile prototype.
        </p>
    </div>
  </div>
</div>
<%= javascript_include_tag 'browserDetect' %>
