<div class="content-section-a">

  <!-- Header -->
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h2 class="section-heading">Governance</h2>
        <h3 class="section-heading">Officers</h3>
          <ul class="lead">
            <li>Harry Diakoff, President</li>
            <li>Bridget Almas, Vice President, Secretary, Treasurer</li>
          </ul>
        <h3 class="section-heading">Board of Directors</h3>
          <ul class="lead">
            <li>Michael Gursky</li>
            <li>Dana Johnson</li>
            <li>Jason Pedicone</li>
          </ul>
      </div>
   </div>

</div>
