<%= partial(:nav) =%>
<div class="intro-header">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Alpheios Privacy Policy</h2>
        </div>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h1>Privacy Policy</h1>
        <p>Effective date: October 15, 2018</p>
        <p class="lead">The Alpheios Project, Ltd. ("us", "we", or "our") operates the https://alpheios.net website and the Alpheios tools and services
          (the "Tools and Services").</p>
        <p class="lead">This page informs you of our policies regarding the collection, use, and disclosure of data when you use our Tools and Services.</p>
        <h2>Information Collection And Use</h2>
        <p class="lead">Our voluntary signup form, which you can use to request emails of news and software updates, collects your name and email address.
          We do not sell or rent this information and use it only to email you with news about our Tools and Services.
          We may use a third-party Service Provider to store and manage our mailing list and to send emails on our behalf:</p>
          <ul class="lead">
            <li>
              <p class="lead"><b>Vertical Response</b></p>
              <p class="lead">VerticalResponse provides software for sending email marketing, online surveys and direct mail for direct marketing campaigns.</p>
              <p class="lead">Vertical Response does not sell or rent the data we manage with it. For more information on the privacy practices of Vertical Response
                please visit Vertical Response privacy policy page: <a href="https://www.deluxe.com/policy/privacy-shield">https://www.deluxe.com/policy/privacy-shield</a></p>
            </li>
          </ul>
        <p class="lead">The Alpheios Browser Extensions do request limited permissions from the browser as follows:</p>
        <ul class="lead">
          <li>
            <p class="lead">Alpheios accesses browser activity during navigation only to control its own state as you navigate between pages.</p>
          </li>
          <li>
            <p class="lead">Alpheios accesses browser tabs so that it can be in a distinct state across each tab. </p>
          </li>
          <li>
            <p class="lead">The only data Alpheios accesses from websites you visit is the actual text that is on the page. We do not collect or store the addresses
              or any other information about or from these sites.
            </p>
          </li>
        </ul>
        <p class="lead">For more information on browser extensions and their permissions see the following links:
          <a href="https://blog.mozilla.org/addons/2018/02/01/understanding-extension-permission-requests">https://blog.mozilla.org/addons/2018/02/01/understanding-extension-permission-requests/</a>,
          <a href="https://support.mozilla.org/en-US/kb/permission-request-messages-firefox-extensions">https://support.mozilla.org/en-US/kb/permission-request-messages-firefox-extensions</a>, and
          <a href="https://support.google.com/chrome_webstore/answer/186213">https://support.google.com/chrome_webstore/answer/186213</a>.
        </p>
        <p class="lead">Our Tools and Services do not otherwise collect any personal data or use cookies or other tracking technologies.</p>
        <p class="lead">We may collect information that your browser sends whenever you access the Tools and Services through a browser or through a mobile device
            ("Usage Data").</p>
        <p class="lead">This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type,
           browser version, the pages of our Services that you visit, the time and date of your visit, the time spent on those pages,
           unique device identifiers and other diagnostic data.</p>
        <p class="lead">When you access the Tools and Services by or through a mobile device, this Usage Data may include information such as the
           type of mobile device you use, your mobile device unique ID, the IP address of your mobile device, your mobile operating system,
           the type of mobile Internet browser you use, unique device identifiers and other diagnostic data.</p>
        <p class="lead">The Alpheios Project, Ltd. uses the collected data for various purposes:</p>
          <ul class="lead">
            <li>To provide and maintain the Service</li>
            <li>To provide customer care and support</li>
            <li>To provide analysis or valuable information so that we can improve the Service</li>
            <li>To monitor the usage of the Service</li>
            <li>To detect, prevent and address technical issues</li>
           </ul>
         </p>
         <h3>Analytics</h3>
         <p class="lead">We may use third-party Service Providers to monitor and analyze the use of our Service.</p>
         <ul class="lead">
           <li>
             <p class="lead"><b>Google Analytics</b></p>
             <p class="lead">Google Analytics is a web analytics service offered by Google that tracks and reports website traffic.
               Google uses the data collected to track and monitor the use of our Service. This data is shared with other
               Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.</p>
             <p class="lead">For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page:
               <a href="https://policies.google.com/privacy?hl=en">https://policies.google.com/privacy?hl=en</a></p>
           </li>
          </ul>
          <h2>Links To Other Sites</h2>
          <p class="lead">Our Tools and Services may contain links to other sites that are not operated by us. If you click on a third party link,
            you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
          <p class="lead">We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
          <h2>Changes To This Privacy Policy</h2>
          <p class="lead">We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
          <p class="lead">We will let you know via a prominent notice on our Tools and Services, prior to the change becoming effective and update the
            "effective date" at the top of this Privacy Policy.</p>
          <p class="lead">You are advised to review this Privacy Policy periodically for any changes.
            Changes to this Privacy Policy are effective when they are posted on this page.</p>
          <h2>Contact Us</h2>
          <p class="lead">If you have any questions about this Privacy Policy, please contact us:</p>
          <ul class="lead">
            <li>By email: support@alpheios.net</li>
            <li>By visiting this page on our website: https://alpheios.net/pages/privacy-policy</li>
          </ul>
      </div>
    </div>
  </div>
</div>
