
<div class="intro-header">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Alpheios Prototypes</h2>
        </div>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h2>Poetry</h2>
        <p class="lead">
          The Alpheios Poetry Prototype demonstrates our vision of learning through the experience of poetry.
          <ul class="lead">
            <li><a href="/pages/poetry/iliad">The first phrase of Homer's <em>Iliad</em></a>, read by Stanley Lombardo</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h2>Text Analysis</h2>
        <h3>Inflection Frequencies</h3>
        <p class="lead">
            Analyses of the frequency of inflections in the <a href="/alpheios-demos/infl/html/iliad/noun_inflection.html">Iliad</a>
            and the <a href="/alpheios-demos/infl/html/odyssey/noun_inflection.html">Odyssey</a>.
            The Odyssey analysis makes use of treebanked data. Frequency data is linked to individual occurrences in the texts.
        </p>
      </div>
    </div>
  </div>
</div>
