<div class="intro-header">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Sign Up</h2>
        </div>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">

      <h3>Sign up to receive the latest news about the Alpheios Project.</h3>
      <script type="text/javascript">
        function check_email(a_elem)
        {
          var email = document.getElementById("email_address");
          if (email.value != a_elem.value)
          {
             alert("Email addresses must match");
             a_elem.value="";
             a_elem.focus();
             $(a_elem).parent().addClass("has-error");
          }
        }

        (function() {
          "use strict";
          window.addEventListener("load", function() {
            var form = document.getElementById("signup-form");
            form.addEventListener("submit", function(event) {
              window.open( 'http://www.verticalresponse.com', 'vr_optin_popup', 'scrollbars=yes,width=600,height=450' );
              return true;
            }, false);
          }, false);
        }());
      </script>
      <form method="post" action="http://oi.vresp.com?fid=9bf4194cd2" target="vr_optin_popup" onsubmit="window.open( 'http://www.verticalresponse.com', 'vr_optin_popup', 'scrollbars=yes,width=600,height=450' ); return true;" id="signup-form" novalidate>
       <div class="form-group">
         <label class="form-control-label" for="email_address">Email Address</label>
         <input class="form-control" name="email_address" id="email_address" type="email" required>
       </div>
       <div class="form-group">
         <label class="form-control-label" for="email_confirm">Confirm Email Address</label>
         <input class="form-control" name="email_confirm" id="email_confirm" type="email" onchange="check_email(this)" required>
       </div>
       <div class="form-group">
         <label class="form-control-label" for="first_name">First Name</label>
         <input class="form-control" name="first_name" id="first_name" type="text" required>
       </div>
       <div class="form-group">
         <label class="form-control-label" for="last_name">First Name</label>
         <input class="form-control" name="last_name" id="first_name" type="text" required>
       </div>
       <div class="form-group">
         <div id="captchaPreview" class="field"><img id="vrCaptchaImage" src="https://img.verticalresponse.com/blank.gif" height="35" width="125" /><br/><br/>
           <label class="form-control-label" for="captcha_guess" id="captcha_text" style="color: #666666;">Enter the letters shown above:</label>
           <input id="catcha_guess" class="form-control" size="10" name="captcha_guess"/></span><input type=hidden id="vrCaptchaHash" name="captcha_hash" value="">
         </div>
         <script>hex_chars=Array('0','1','2','3','4','5','6','7','8','9','a','b','c','d','e','f');hash='';hash_length=20;for(h=0;h<hash_length;h++){hash=hash+hex_chars[Math.floor(16*Math.random())];}document.getElementById('vrCaptchaHash').value=hash;captcha_image_url='https://captcha.vresp.com/produce/'+hash;document.getElementById('vrCaptchaImage').src=captcha_image_url;</script>
        </div>
        <div class="form-group">
         <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
        <div class="form-group">
          <a href="http://www.verticalresponse.com" title="Powered by VerticalResponse"><img src="https://img.verticalresponse.com/np_pwrby_vr_logo_126.gif" alt="Powered by Vertical Response Logo"/></a>
        </div>
      </form>
    </div>
  </div>
</div>
