<div class="intro-header">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Alpheios Mobile Reader - Coming Soon</h2>
        </div>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p class="lead">
          We are currently soliciting user feedback on our <a href="https://pwa.alpheios.net">Alpheios Mobile Reader Prototype</a>.
        </p>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'browserDetect' %>
