<%= partial(:nav) =%>
<div class="content-section-a">

  <!-- Header -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p class="lead">
          <%= alert_box 'Thank you for signing up! We have added you to our mailing list.', dismissible: false, context: 'success' %>
       </p>
      </div>
    </div>
  </div>
