
<div class="content-section-a">

  <!-- Header -->
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h1>Alpheios Tools</h1>
        <h2>Browser Extensions</h2>
        <p class="lead">
            <a href="/pages/v1/installation">Alpheios v1 Reading and Quiz Tools</a> (Original Firefox Add-Ons, best with Firefox version 45 or earlier)
        </p>
        <h2>Annotation Editors</h2>
        <h3>Translation Alignment Editor</h3>
        <p class="lead">
          The Alpheios Translation Alignment editor allows you to create word-by-word alignments between two texts.<br/>
        </p>
        <p class="lead"><span class="alpheios-hint">No Login Required, data must be downloaded to be saved.</span>
          <ul class="lead">
            <li><a href="http://tools.alpheios.net/exist/rest/db/app/align-entersentence.xhtml">Main Entry Point</a> (English interface)</li>
            <li><a href="http://tools.alpheios.net/exist/rest/db/app/align-entersentence_por.xhtml">Alternate Entry Point</a> (Portuguese interface provided by Anise Ferreira, Sao Paolo State University, Brazil)</li>
          </ul>
        </p>
        <p class="lead"><span class="alpheios-hint">Login required, user data and collaboration/editorial review options available.</span>
          <ul class="lead">
            <li>Via <a href="https://pca.perseids.org/apps/alignment?">Perseids</a> (Provided by Tufts University  - login and create account at <a href="https://sosol.perseids.org/sosol">https://sosol.perseids.org/sosol</a>)</li>
          </ul>
        </p>
        <h3>Alpheios Treebank Editor</h3>
        <p class="lead">
          The original Alpheios Treebank editor allows you to create dependency trees of sentences or phrases.<br/>
        </p>
        <p class="lead"><span class="alpheios-hint">No Login Required, data must be downloaded to be saved.</span>
          <ul class="lead">
            <li><a href="http://tools.alpheios.net/exist/rest/db/app/treebank-entertext.xhtml">Main Entry Point</a> (English interface)</li>
            <li><a href="http://tools.alpheios.net/exist/rest/db/app/treebank-entertext_por.xhtml">Alternate Entry Point</a> (Portuguese interface provided by Anise Ferreira, Sao Paolo State University, Brazil)</li>
          </ul>
        </p>
        <h3>Arethusa Treebank Editor</h3>
        <p class="lead">The next generation of the Alpheios treebank editor. Multiple annotation formats supported with automatic morphological parsing and updated user interface.
        </p>
        <p><span class="alpheios-hint">Login required, user data and collaboration/editorial review options available.</span>
          <ul class="lead">
            <li>Via <a href="https://pca.perseids.org/apps/treebank?">Perseids</a> (Provided by Tufts University  - login and create account at <a href="https://sosol.perseids.org/sosol">https://sosol.perseids.org/sosol</a>)</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
