.content-section-a.nopadding {
  padding: 0px
}

#text-identifier {
  font-family:  'Palatino', 'Palatino Linotype', 'Georgia', 'Serif';
  font-size: 20pt;
  color: #4E6476;
}

#current-controls {
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

#page-controls, #audio-controls {
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.poetry.settings-form {
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
}

.poetry.settings-form.visible {
  visibility: visible;
  transition: all 1s ease-out;
}

.poetry .form-check:hover {
  color: #5BC8DC;
}

.poetry.control {
  color: #4E6476;
  font-size: 24pt;
  padding: 10px;
}

#page-controls .poetry.control {
  font-size: 18pt;
}

.poetry.control:hover {
  color: #5BC8DC;
}

.poetry.control.disabled, .poetry.control.disabled:hover {
  color: #D1D1D0;
  cursor: not-allowed;
}

.poetry.transcript {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 200px;
}

.poetry.text {
  color: #333333;
  font-family:  'Palatino', 'Palatino Linotype', 'Georgia', 'Serif';
  font-size: 72pt;
  padding-right: 1rem;
  cursor: pointer;
  display: none;
}
.poetry.text.small {
  font-size: 48pt;
}

.poetry.text.played {
  display: inline;
}

.poetry.text:hover {
  color: #5BC8DC;
}

.poetry.text.active {
  background: #5BC8DC;
  transition: all 1s ease-out;
}

.carousel-start-item {
  height: 300px;
  width: 300px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #E4980D;
}

.carousel-control.right:hover, .carousel-control.left:hover {
  color: #F6D918;
}

.carousel-caption {
  color: #E4980D;
  text-shadow: none;
  font-size: 16px;
  cursor: pointer;
}
.carousel-caption:hover {
  color: #F6D918;
}

.carousel.disabled {
  visibility:hidden;
}

.tooltip-inner {
    background-color: #7E8897;
    color: white;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #7E8897;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #7E8897;
}
