#current-controls {
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.poetry.control {
  color: #333333;
  font-size: 32pt;
  padding: 10px;
}

.poetry.control.disabled, .poetry.control.disabled:hover {
  color: #D1D1D0;
  cursor: not-allowed;
}

.poetry.control:hover {
  color: #5BC8DC;
}

.poetry.transcript {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.poetry.text {
  font-family:  'Palatino', 'Palatino Linotype', 'Georgia', 'Serif';
  font-size: 64pt;
  color: #666666;
  padding-right: 1rem;
  cursor: pointer;
  display: none;
}
.poetry.text.small {
  font-size: 48pt;
}

.poetry.text.played {
  display: inline;
}

.poetry.text.active, .poetry.text:hover {
  background: #5BC8DC;
  transition: all 1s ease-out;
}

.carousel-start-item {
  height: 300px;
  width: 300px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #E4980D;
}

.carousel-control.right:hover, .carousel-control.left:hover {
  color: #F6D918;
}

.carousel-caption {
  color: #E4980D;
  text-shadow: none;
  font-size: 16px;
  cursor: pointer;
}
.carousel-caption:hover {
  color: #F6D918;
}

.carousel.disabled {
  visibility:hidden;
}
