<p class="lead">
  <span>The Alpheios Project, Ltd. is a 501(c)(3) non-profit organization.</span>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="6KBCJRJ3ZV6CL">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"><a href="http://smile.amazon.com/ch/27-2248757" title="Amazon Smile">Or donate by shopping at Amazon Smile</a>
  </form>
</p>
