<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright text-muted small">Copyright &copy; Red Sun Soundroom. 2018. All Rights Reserved</p>
                <p class="copyright text-muted small">Console photo by <a href="https://www.instagram.com/stephenniemeier/">Stephen Niemeier from Pexels</a> ... additional photo credits here ...</p>
            </div>
        </div>
    </div>
</footer>
