<p><a href="#" role="button" class="btn btn-info hidden" id="install-button">Install</a></p>
<div id="install-info-unsupported" class="hidden">
  <p>To try the tools with any text, please use a supported browser.</p>
  <p><a href="https://www.google.com/chrome/">Download Chrome</a></p>
  <p><a href="https://www.mozilla.org/ru/firefox/new/">Download Firefox</a></li></p>
</div>
<div id="install-info-unsupported-mobile" class="hidden">
  <p>A mobile solution is currently under development. Please try the tools on the desktop.</p>
</div>
