<p><a href="#" role="button" class="btn btn-info hidden" id="install-button">Install</a></p>
<div id="install-info-unsupported" class="hidden">
  <p class="lead">To try the tools with any text, please use a supported browser.
    <ul class="lead">
      <li><a href="https://www.google.com/chrome/">Download Chrome</a></li>
      <li><a href="https://www.mozilla.org/ru/firefox/new/">Download Firefox</a></li>
    </ul>
  </p>
</div>
<div id="install-info-unsupported-mobile" class="hidden">
  <p class="lead">Please access this page in a supported browser on the desktop to install Alpheios. Mobile solutions are coming soon.</p>
</div>
